.button-container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.button-container a, .button-container img, .button-container i {
    margin: 5px;
}

.button-container a {
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10em;
    align-items: center;
}

.flex-searchbar{
    display: flex;
    flex-direction: row;
    border: 2px solid grey;
    border-radius: 2em;
    padding: 5px;
    margin-top: 5px;
}

.flex-searchbar input {
    border: none;
}


#zappa {
    height: 40px;
    border-radius: 2em;
}

#searchbar {
    height: 20px;
    width: 270px;
    /* margin-top: 20px; */
    border-radius: 2em;
}
